/* Styles for both forms linked to from this page */

/* Forms (Move these into their components) */
.short-form-label {
    width: 50%;
    margin: 0;
}

.short-form-input {
    width: calc(50% - 5px);
}

.date-of-publication-form-group,
.num-of-pages-form-group {
    display: flex;
    align-items: center;
}

.add-new-book-btn {
    background: var(--primary);
    border: none;
    margin-bottom: 10px;
    width: fit-content;
}
.add-new-book-btn__text-sm {
    display: none;
}
@media (max-width: 600px) {
    .add-new-book-btn__text {
        display: none;
    }
    .add-new-book-btn__text-sm {
        display: inline;
    }
}


.Dashboard__stats-row > div {
    margin-bottom: 10px;
}

.Dashboard__level,
.Dashboard__card {
    background: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1176%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(129%2c 22%2c 237%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c564.295C104.927%2c562.973%2c191.945%2c492.739%2c281.15%2c437.478C371.858%2c381.287%2c482.856%2c337.766%2c524.358%2c239.466C565.655%2c141.653%2c505.879%2c34.402%2c495.96%2c-71.308C485.395%2c-183.906%2c542.214%2c-320.359%2c464.152%2c-402.19C385.447%2c-484.695%2c240.804%2c-415.685%2c132.739%2c-452.066C17.766%2c-490.773%2c-60.992%2c-628.811%2c-181.964%2c-619.713C-303.338%2c-610.585%2c-394.873%2c-502.975%2c-469.449%2c-406.78C-541.391%2c-313.983%2c-589.299%2c-202.916%2c-595.971%2c-85.688C-602.336%2c26.152%2c-562.309%2c134.275%2c-505.745%2c230.966C-453.06%2c321.026%2c-372.859%2c387.201%2c-285.74%2c444.62C-197.737%2c502.622%2c-105.39%2c565.623%2c0%2c564.295' fill='%237b12e4'%3e%3c/path%3e%3cpath d='M1440 1091.1390000000001C1543.417 1083.953 1655.164 1085.682 1736.66 1021.6120000000001 1816.036 959.2080000000001 1811.376 839.198 1867.351 755.165 1938.624 648.167 2113.483 592.389 2108.135 463.937 2102.95 339.395 1939.128 290.675 1844.63 209.387 1764.967 140.85899999999998 1692.44 68.96800000000002 1597.248 24.462999999999965 1488.551-26.355999999999995 1374.606-85.61199999999997 1256.283-65.68200000000002 1133.129-44.93799999999999 1005.725 22.977999999999952 948.136 133.79700000000003 891.878 242.055 970.865 369.998 966.515 491.923 962.798 596.093 898.275 694.532 924.53 795.407 952.831 904.142 1018.15 1008.85 1115.608 1064.763 1211.654 1119.866 1329.536 1098.8139999999999 1440 1091.1390000000001' fill='%238822ee'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1176'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.Dashboard__level > p > span {
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 25px;
}

.Dashboard__level__progress-bar {
    width: 100%;
    height: 10px;
    background: var(--light);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.Dashboard__level__progress-bar > div {
    background: var(--warning);
    height: 100%;
}

/* Stats */
.Dashboard__stats-row {
    margin-bottom: 50px;
}

.CurrentlyReading__alternate-content {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
}