@import './index.css';

#App {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    min-height: 100vh;
    height: fit-content;
    margin: 0 auto;
    background: var(--light);
}

.flex {
    display: flex;
}

.main-container {
    margin: 0 auto;
    width: calc(100% - 225px - 32px);
    margin: 10px 0 0 calc(225px + 20px);
}

.main-content {
    width: 100%;
    max-width: 1600px;
    height: calc(100vh - 20px);
    margin: 0 auto;
}

.TopNavbar__content,
.BottomNavBar__content {
    max-width: 600px;
}

.back-arrow {
    font-size: 30px;
    color: var(--bs-primary);
}

.ellipsis-btn {
    font-size: 30px;
    color: var(--bs-secondary);
}

.full-width-btn {
    width: 100%;
}

a {
    color: var(--black);
    text-decoration: none;
}

p,
h1,
h2,
h3,
button {
    margin-bottom: 10px;
}

.main-form {
    background: var(--bs-gray-200);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.main-form {
   color: var(--bs-secondary);
   font-weight: 500;
}

.isHidden {
    display: none !important;
}

.page-heading > p {
    color: var(--secondary);
}

@media (max-width: 1000px) {
    .main-container {
        margin: 10px 0 0 calc(75px + 20px);
        width: calc(100% - 75px - 32px);
    }
}

@media (max-width: 600px) {
    .main-container {
        width: 100%;
        margin: 60px 10px 60px 10px;
    }
}