@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --title-font: 'Abril Fatface', serif;
    --body-font: 'Poppins', sans-serif;
    --main-serif-font: 'Lora', serif;

    --primary: #8b17ff;
    --primary-darkened: #6e11cb;
    --secondary: #B1A8B9;
    --secondary-darkened: #6d6772;
    --success: #4FAF44;
    --success-darkened: #3e8a35;
    --success-lightened: #a8ff9e;
    --warning: #FFC33F;
    --warning-darkened: #d3a134;
    --info: #00a2ff;
    --danger: #E30000;
    --danger-darkened: #bd0000;
    --light: #f0f0f0;
    --light-darkened: #d9d9d9;
    --dark: #3f3f3f;
    --dark-darkened: #2b2b2b;

    --black: #000;
    --white: #fff;

    --level-1: #4FAF44;
    --level-2: #FFC33F;
    --level-3: #E30000;
    --level-4: #000000;
}

body {
    background: var(--light);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

/* -----Buttons----- */
.btn,
.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
    border-radius: 10px;
}

.btn-primary {
    background: var(--primary);
    border: var(--primary);
}
.btn-primary:hover {
    background: var(--primary-darkened);
}
.btn-primary:active,
.btn-primary:focus {
    background: var(--primary-darkened) !important;
    border: var(--primary-darkened);
}

.btn-warning {
    background: var(--warning);
    border: var(--warning);
    color: white;
}
.btn-warning:hover {
    background: var(--warning-darkened);
}

.btn-secondary {
    background: var(--secondary-darkened);
    border: var(--secondary-darkened);
    color: white;
}
.btn-secondary:hover {
    background: var(--dark);
}

.btn-danger {
    background: var(--danger);
    border: var(--danger);
    color: white;
}
.btn-danger:hover {
    background: var(--danger-darkened);
}

.btn-success {
    background: var(--success);
    border: var(--success);
}
.btn-success:hover {
    background: var(--success-darkened);
}

.back-arrow {
    color: var(--primary);
    font-size: 30px;
    cursor: pointer;
}

.more-btn {
    color: var(--secondary-darkened);
    font-size: 30px;
    cursor: pointer;
}

/* -----Icons----- */

.level-1-icon,
.level-2-icon,
.level-3-icon,
.level-4-icon {
    font-size: 12px;
    padding: 3px 12px;
    border-radius: 25px;
    color: var(--white);
}

.level-1-icon {
    background: var(--level-1);
}
.level-2-icon {
    background: var(--level-2);
}
.level-3-icon {
    background: var(--level-3);
}
.level-4-icon {
    background: var(--level-4);
}

* {
    box-sizing: border-box;
    font-family: var(--body-font);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-size: 16px;
}

a,
a:hover {
    color: var(--dark);
}

.border-bottom-white {
    border-bottom: 1px solid white;
}

.form-control,
.form-control:active,
.form-control:focus {
    background: var(--white) !important;
    border: none !important;
    border-radius: 10px;
    box-shadow: none !important;
    outline: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset !important;
}

select {
    border: none !important;
    border-radius: 10px !important;
}

select:active,
select:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-control::placeholder {
    color: var(--secondary);
}
.form-control:focus[type=text] {
    color: var(--dark);
}

.box-shadow {
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
}

.mb-10 {
    margin-bottom: 10px;
}

.card {
    border: none;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
    border-radius: 10px;
}

.modal-content {
    border: none !important;
    border-radius: 10px;
}

.nm {
    margin: 0;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.color-secondary {
    color: var(--secondary);
}

.animate-up-and-in {
    animation-name: animate-up-and-in;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes animate-up-and-in {
    0% {
        opacity: 0%;
        transform: translateY(20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.tac {
    text-align: center;
}

.br-10 {
    border-radius: 10px;
}

.invert-font-color {
    color: var(--white);
}

.animate-grow-in {
    animation-name: growIn;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}