.CurrentlyReadingCard {
    height: 100%;
    transition: ease-in-out .1s;
    border: none;
    display: flex;
    flex-direction: column;
}
.CurrentlyReadingCard-no-zoom {
    height: 100%;
    transition: ease-in-out .1s;
    border: none;
    display: flex;
    flex-direction: column;
}

.CurrentlyReadingCard:hover {
    transform: scale(1.01);
    z-index: 1;
    box-shadow: 0 5px 7px rgba(0,0,0,0.05);
}

.CurrentlyReadingCard__body {
    display: flex;
}

/* Body left */
.CurrentlyReadingCard__book-icon-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.CurrentlyReadingCard__book-icon-container img {
    width: 100%;
    border-radius: 5px;
}

.CurrentlyReadingCard__book-icon-container svg {
    font-size: 65px;
    margin: 0 auto;
    color: var(--secondary-darkened);
}

.CurrentlyReadingCard__book-icon {
    font-size: 40px;
    margin-top: 3px;
    color: var(--secondary-darkened);
}

/* Body Right */
.CurrentlyReadingCard__body-right {
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.CurrentlyReadingCard__title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.CurrentlyReadingCard__subtitle {
    font-size: 14px;
    margin: 0;
}

.CurrentlyReadingCard__author {
    font-size: 12px;
    color: var(--secondary-darkened);
    margin: 0;
}

/* Body Right Bottom */

.CurrentlyReadingCard__bottom-section {
    margin-top: auto;
}


.CurrentlyReadingCard__time {
    font-size: 12px;
    margin: 0;
}

.CurrentlyReadingCard__pages-container {
    display: flex;
    align-items: center;
}

.CurrentlyReadingCard__pages-col {
    width: 75px;
}

.CurrentlyReadingCard__pages {
    font-size: 10px;
    margin: 0;
    color: var(--secondary-darkened);
}

.CurrentlyReadingCard__ProgressBar {
    height: 5px;
}