.EditBookForm {
    max-width: 600px;
    margin: 0 auto;
}

.EditBookForm__top-row__right-side {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.EditBookForm__delete-book-btn {
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 10px 0 0;
}

.EditBookForm__bottom-row {
    display: flex;
    justify-content: flex-end;
}

.EditBookForm__bottom-row > button {
    width: fit-content;
    margin-left: 10px;
}
@media (max-width: 600px) {
    .EditBookForm__bottom-row > button {
        width: 50%;
        margin-left: 0;
    }
    .EditBookForm__bottom-row > button:last-of-type {
        margin-left: 10px;
    }
}