.NewUserWelcomeModal > .modal-dialog > .modal-content {
    background: var(--light) !important;
}

.NewUserWelcomeModal__page {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.WelcomePage__last-button {
    padding: 10px 120px;
    margin: 0 auto;
    font-size: 20px;
}
@media (max-width: 600px) {
    .WelcomePage__last-button {
        padding: 10px 50px;
    }
}

.page-btn-container {
    margin-top: auto;
}