/* -----Default----- */
.alert {
    background: var(--white);
    color: var(--primary-darkened);
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
    border: none;

    animation-name: growIn;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes growIn {
    0% {
        transform: scale(.01);
    }
    55% {
        transform: scale(1.03);
    }
    60% {
        transform: scale(1.05);
    }
    85% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes leBounceZoomIn {
    0%, 25%, 55%, 85%, 100% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
    41%, 44% {
        animation-timing-function: ease-in;
        transform: scale(1.7);
    }
    70% {
        animation-timing-function: ease-in;
        transform: scale(1.9);
    }
    90% { transform: scale(1.1) }
}

.alert .line {
    background: var(--primary);
    width: 5px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.alert svg:first-of-type {
    font-size: 20px;
    color: var(--primary);
    margin-right: 10px;
}

.alert svg:last-of-type {
    font-size: 20px;
    color: var(--secondary);
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
}


/* -----Variants----- */
.alert-success {  color: var(--success-darkened) }
.alert-success .line { background: var(--success) }
.alert-success svg:first-of-type { color: var(--success) }

.alert-warning {  color: var(--warning-darkened) }
.alert-warning .line { background: var(--warning) }
.alert-warning svg:first-of-type { color: var(--warning) }

.alert-danger {  color: var(--danger) }
.alert-danger .line { background: var(--danger) }
.alert-danger svg:first-of-type { color: var(--danger) }