.Comment {
    margin-bottom: 10px;
    margin-left: 20px;
}

.Comment__user-cred {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bs-gray-300);
}

.comment__dots {
    color: var(--bs-secondary);
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
}

.comment__delete-btn {
    padding: 2px 5px;
}

.Comment__user-cred > button {
    font-size: 12px;
    margin-left: 5px;
}

.Comment__user-cred p {
   margin-bottom: 5px;
}

.Comment__level-1,
.Comment__level-2,
.Comment__level-3,
.Comment__level-4 {
    width: fit-content;
    font-size: 12px;
    background: var(--level-1);
    color: white;
    padding: 2px 10px;
    border-radius: 25px;
    margin-left: 5px;
}
.Comment__level-2 {
    background: var(--level-2);
}
.Post__level-3 {
    background: var(--level-3);
}
.Comment__level-4 {
    background: var(--level-4);
}

.Comment__text {
    font-size: 14px;
    margin: 5px 0;
}