.LibraryForm__star {
    font-size: 20px;
    transition: .1s ease-in-out;
}

.LibraryForm__star:hover {
    margin-top: -5px;
    font-size: 25px;
    color: var(--bs-warning) !important;
    cursor: pointer;
}

.LibraryForm__textarea {
    min-height: 300px !important;
    padding: 10px;
}

.LibraryForm__title {
    margin-bottom: 0;
}

.LibraryForm__subtitle {
    font-size: 16px;
    color: var(--bs-secondary);
    margin-bottom: 10px;
}

.LibraryForm__section-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.LibraryForm__ellipsis-btn-container {
    display: flex;
    justify-content: flex-end;
}

.ellipsis-btn {
    color: var(--secondary-darkened);
}