.BottomNavbar {
    background: var(--dark);
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.BottomNavbar__link > div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.BottomNavbar__link > div:hover {
    background: var(--dark-darkened);
}

.BottomNavbar__link-current {
    background: var(--dark-darkened);
    border-radius: 10px;
}

.BottomNavbar__link > div > svg {
    font-size: 25px;
    color: var(--white);
}

@media (min-width: 600px) {
    .BottomNavbar { display: none }
}
