.WelcomePage {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
}

.WelcomePage > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.WelcomePage__button {
    padding: 10px 180px;
    margin: 0 auto;
    font-size: 20px;
}

.WelcomePage__last-button {
    padding: 10px 120px;
    margin: 0 auto;
    font-size: 20px;
}